#{extends 'main.html' /} #{set title:'Leaderboard' /}
<h5 class="ui header">SpaceBook</h5>
<nav class="ui menu">
	<a class="ui item" href="/home">Home</a> <a class="ui item"
		href="/members">Members</a> <a class="ui active item"
		href="/leaderboard">Leaderboard</a> <a class="ui item" href="/login">Logout</a>
</nav>
<section class="ui segment">
	<h3 class="ui header">Social Leaderboard</h3>
	<div class="ui compact segment">
		<table class="ui fixed celled table">
			<thead>
				<tr>
					<th>Rank</th>
					<th>Name</th>
					<th>Inbox</th>
					<th>Outbox</th>
					<th>Friends</th>
				</tr>
			</thead>
			<tbody>
				#{list items:users, as:'user'}
				<tr>
					<td class="ui two wide column"><i class="edit icon"></i></td>
					<td class="ui six wide column">
					<a href="/publicprofile/${user.id}">${user.getName(user)}</a></td>
					<td class="ui two wide column">${user.inbox.size()}</td>
					<td class="ui two wide column">${user.outbox.size()}</td>
					<td class="ui two wide column">${user.friendships.size()}</td>
				</tr>
				#{/list}
			</tbody>
		</table>
		<div class="ui segment">
			<a href="/leaderboard/social"><button
					class="ui teal submit button">
					<i class="sort icon"></i>MOST SOCIAL
				</button></a> <a href="/leaderboard/talkative"><button
					class="ui teal submit button">
					<i class="sort icon"></i>MOST TALKATIVE
				</button></a> <a href="/leaderboard/inbox"><button
					class="ui teal submit button">
					<i class="sort icon"></i>INBOX SIZE
				</button></a>
		</div>
	</div>
</section>