#{extends 'main.html' /} #{set title:'Welcome to SpaceBook' /}
<div class="ui inverted teal segment">
	<div class="ui one column middle alligned center aligned grid">
		<div class="column six wide form-holder">
			<h2>Welcome to SpaceBook</h2>
			<h4>Sign up for SpaceBook service</h4>
			<section class="ui form segment">
				<form>
					<div class="field">
						<a href="/signup"><button
								class="ui teal fluid large submit button">
								<i class="space shuttle icon"></i>Sign Up
							</button></a>
					</div>
					<div class="field">
						<div class="ui message">Already have an account? Proceed to
							Login</div>
						<a href="/login"><button
								class="ui teal fluid large submit button">
								<i class="sign in icon"></i>Login
							</button></a>
					</div>
				</form>
			</section>
		</div>
	</div>
</div>